* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
}
html {
  height: 100%;
}

html, body {
  background-color:#454545;
  font: 500 1.2rem 'DM Sans', sans-serif;
}

main {
  background-color: white;
  width: 31.25rem;
  padding: 1.25rem;
  margin: 2rem auto;
  border-radius: .75rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
  position: relative;
}

.grid {
  display: grid;
  gap: 1.75rem;
}

.title {
  text-align: center;
  font: 700 2rem 'Poppins', sans-serif;
  color: #04293A;
}

.subtitle {
  color: #064663;
  font: 500 1.5rem 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

.lista {
  display: grid;
  gap: 1rem;
}

li {
  color: #041C32;
}

a, a:visited {
  text-decoration: none;
  color: #461111;
}

a:hover {
  color: #d4ba22;
  text-decoration: none;
}

img {
  position: absolute;
  right: 2rem;
  bottom: 3rem;
}
